@model KiauMvcApplication.Models.ProductTb
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
    <link href="~/Content/css/cms.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm("Product", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="sendbox">
            <h3>نمونه کار ها</h3>
            <p class="lbl">کاربر محترم عکس باید در سایز px 257*257 باشد</p>
            <div class="editor-label">
                <span>گروه محصولی :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.DropDownList("Productgroupddl", ViewBag.ddlProductGroup as SelectList)
            </div>
            <br />

            <div class="editor-label">
                <span>موضوع :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(x => x.ProductTitle)
                @Html.ValidationMessageFor(model => model.ProductTitle)
            </div>
            <br />
            <div class="editor-label">
                <span>توضیحات :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(x => x.ProductContent)
                @Html.ValidationMessageFor(model => model.ProductContent)
            </div>
            <br />
            <div class="editor-label">
                <span>عکس مربوطه :</span>
            </div>
            <br />
            <div class="editor-field">
                <input class="fileupload" type="file" name="workSampels" value=" " />
                @Html.ValidationMessageFor(model => model.ProductPhotoUrl)
            </div>
            <br />
            <div class="editor-label">
                <span>فایل کامل :</span>
            </div>
            <br />
            <div class="editor-field">
                <input class="fileupload" type="file" name="pdffile" value=" " />
                @Html.ValidationMessageFor(model => model.ProductFile)
            </div>
            <br />
            <div class="editor-label">
                <span>فایل رایگان :</span>
            </div>
            <br />
            <div class="editor-field">
                <input class="fileupload" type="file" name="pdffile" value=" " />
                @Html.ValidationMessageFor(model => model.ProductFreeFile)
            </div>
            <br />
            <div class="editor-label">
                <span> مبلغ پروژه :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(x => x.ProductPrice)
                @Html.ValidationMessageFor(model => model.ProductPrice)
            </div>
            <br />
            <div class="editor-label">
                <span>نام استاد راهنما :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(x => x.ProfessorName)
                @Html.ValidationMessageFor(model => model.ProfessorName)
            </div>
            <br />
            <div class="editor-label">
                <span>نام دانشجو :</span>
            </div>
            <br />
            <div class="editor-field">
                @Html.TextBoxFor(x => x.StudentName)
                @Html.ValidationMessageFor(model => model.StudentName)
            </div>
            <br />
            <p>
                <input class="sendsubmit" type="submit" value="ارسال" />
            </p>
            <br />
            @ViewBag.Message
            <br />
            <div class="panelButton">
                @Html.ActionLink("بازگشت به پنل مدیریت", "Panel")
            </div>
        </div>
    }

</body>
</html>
